<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Spital", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Pacienţi",   pacienti_path %></li>
        <li><%= link_to "Medici",   medici_path %></li>
        <li><%= link_to "Consultaţii", consultatii_path %></li>
      </ul>
    </nav>
  </div>
</header>